{% load static %}
<form method="POST" action="">
    {% csrf_token %}
    <h1> Fale conosco </h1>
    <input placeholder = 'Nome' type='text' name='name'>
    <br></br>
    <input placeholder = 'E-mail' type='email' name='email'>
    <br></br>
    <select name='servico' placeholder='serviço desejado'>
        <option value="s1">Serviço 1</option>
        <option value="s2">Serviço 2</option>
        <option value="s3">Serviço 3</option>
        <option value="s4">Serviço 4</option>
    </select>
    <br></br>
    <textarea placeholder='Digite sua mensagem aqui :)' name='message'></textarea>
    <br></br>
    <select name='conhecer' placeholder='como nos conheceu?'>
        <option value="Facebook">Facebook</option>
        <option value="Instagram">Instagram</option>
        <option value="Indicações">Indicações</option>
        <option value="E-mail">E-mail</option>
    </select>
    <br></br>
    <button type='submit'>Enviar</button>
<form>