{% load static %}
<section id="footer">
  <div class="footer1">
    <div class="footersessao" id="footerlogo"></div>
    <div class="footersessao" id="footerdados">

      <div class="footerdado" id="footertelefone">
        <div class="footerdado1" id="footericon"><i class="icon icon-phone"></i></div>
        <div class="footerdado1" id="footerconteudo"><p>{{contato.telefone}}</p></div>
      </div>

      <div class="footerdado" id="footeremail">
        <div class="footerdado1" id="footericon"><i class="icon icon-mail"></i></div>
        <div class="footerdado1" id="footerconteudo">
          <p><a href="mailto:{{contato.email}}" target="_blank">{{contato.email}}</a></p>
        </div>
      </div>

      <div class="footerdado" id="footerfacebook">
        <div class="footerdado1" id="footericon">
          <i class="icon icon-facebook"></i>
        </div>
        <div class="footerdado1" id="footerconteudo">
          <p><a href="{{contato.facebook}}" target="_blank">Facebook</a></p>
        </div>
      </div>

      <div class="footerdado" id="footerinstagram">
        <div class="footerdado1" id="footericon"><i class="icon icon-instagram"></i></div>
        <div class="footerdado1" id="footerconteudo">
          <p><a href="{{contato.instagram}}" target="_blank">Instagram</a></p>
        </div>
      </div>
    </div>

    <div class="footersessao" id="footerlocal">
      <div class="footerdado1" id="footericon">
        <a href="{{contato.gmaps}}" target="_blank"><i class="icon icon-place"></i></a>
      </div>

      <div class="footerdado1" id="footerconteudo">
        <p><a href="{{contato.gmaps}}" target="_blank">{{contato.local}}</a></p>
      </div>
    </div>
  </div>
  <div class="footer2">
    <div class="footercredito">
      <p>Copyright © 2018 Engaj</p>
    </div>
    <div class="footercredito1">
      <p>Make with &lt/> and <i class="icon-heart"></i></p>
    </div>
  </div>
</section>
