{% load static %}
<section id="footer">
    <div class="footer1">
        <div class="footersessao" id="footerlogo"></div>
        <div class="footersessao" id="footerdados">
            <div class="footerdado" id="footertelefone">
                <div class="footerdado1" id="footericon"><i class="icon icon-phone"></i></div>
                <div class="footerdado1" id="footerconteudo"><p>(81) 9.9988 - 0000</p></div>
            </div>
            <div class="footerdado" id="footeremail">
                <div class="footerdado1" id="footericon"><i class="icon icon-mail"></i></div>
                <div class="footerdado1" id="footerconteudo"><p>contato@engaj.com.br</p></div>
            </div>
            <div class="footerdado" id="footerfacebook">
                <div class="footerdado1" id="footericon"><i class="icon icon-facebook"></i></div>
                <div class="footerdado1" id="footerconteudo"><p>@Facebook</p></div>
            </div>
            <div class="footerdado" id="footerinstagram">
                <div class="footerdado1" id="footericon"><i class="icon icon-instagram"></i></div>
                <div class="footerdado1" id="footerconteudo"><p>@Instagram</p></div>
            </div>
        </div>
        <div class="footersessao" id="footerlocal">
            <div class="footerdado1" id="footericon"><i class="icon icon-place"></i></div>
            <div class="footerdado1" id="footerconteudo"><p>Localização da EJ em duas linhas.</p></div>
        </div>
    </div>
    <div class="footer2">
        <div class="footercredito">
            <p>Copyright © 2018 Engaj</p>
        </div>
        <div class="footercredito1">
            <p>Make with &lt/> and <i class="icon-heart"></i></p>
        </div>
    </div>
</section>