{% load static %}
<section id="navbar">
    <div class="navbartotal">
        <div class="navbarlogo"></div>
        <div class="navbarmenu">
            <ul>
                <div class="link" id="navbarhome"><li><a href="#banner">Home</a></li></div>
                <div class="link" id="navbarservicos"><li><a href="#servicos">Serviços</a></li></div>
                <div class="link" id="navbarsobre"><li><a href="#sobre">Sobre</a></li></div>
                <div class="link" id="navbarcontato"><li><a href="#contato">Contato</a></li></div>
                <div class="fbinst">
                    <li><a href="https://www.instagram.com/engajusp/" target="_blank"><i class="icon-instagram-alt"></i></a></li>
                    <li><a href="https://www.facebook.com/ENGAJusp/" target="_blank"><i class="icon-facebook-alt"></i></a></li>
                </div>
            </ul>
            <i class="icon-menu"></i>
        </div>
    </div>
    <div class="navbarmenusanduiche">
            <div class="linha"></div>
            <div class="link1"><a href="#banner">Home</a></div>
            <div class="linha"></div>
            <div class="link1"><a href="#servicos">Serviços</a></div>
            <div class="linha"></div>
            <div class="link1"><a href="#sobre">Sobre</a></div>
            <div class="linha"></div>
            <div class="link1"><a href="#contato">Contato</a></div>
    </div>
</section>
  
