{% load static %}
<section id="servicos">

    <h1> <i class="icon-services"></i> Serviços</h1>

    <div class="card-servicos">
        <figure>
            <figcaption>
                Energia Solar
            </figcaption>
            <img src="{% static 'img/solar_panel.png' %}" alt="Imagem do serviço">
        </figure>
        
        <p>Aqui uma breve descrição sobre o que é o serviço, com cerca de 110 caracteres. Ok?</p>
        
        <button class="botao">Contrate Já!</button>

    </div>
</section>