{% load static %}
<section id="servicos">

    <div class = "titulo">
        <h1 class="titulo-secao"> <i class="icon-services"></i> Serviços</h1>
    </div>
    
    <div class = wrapper>

        <span class="arrow prev "><i class="icon-arrow-right"></i></span>
       
        <div id="slick-servicos">
            {% for servico in servicos %}
            <div class="card">
                <!--Título-->
                <div>
                    <h1> {{servico.nome}} </h1>
                </div>

                <!-- Imagem do card -->
                <div class="imagem bg-data"
                  data-img-src={{ servico.imagem.url }}>
                </div>

                <!--Descrição do serviço-->
                <div class="titulo-servicos">
                  <p>{{servico.descricao}}</p>
                </div>
                
                <!--Call to Action-->
                <div class="call-to-action">
                  <button class="botao" href="#cta-{{servico.id}}"> <span> Contrate Já!</span></button>
                </div>

            </div>
            {% endfor %}
        </div>
        <span class="arrow next esconder-m "><i class="icon-arrow-left"></i></span>
    </div>
</section>
