# Arquivos e Diretórios ignorados

### Ambientes virtuais ###
venv/
env/

### Django & Python ###
*.pyc
__pycache__/
db.sqlite3
*.env

### VSCODE ###
.vscode/

### Arquivos gerados automaticamente pelo SASS ###
sass-files/ 