@charset "UTF-8";

$cor-primaria: #8C76AA;

body{
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
  display: flex;
  border: 1px solid black;
  background: $cor-primaria;
  justify-content: center;
}