section{
    --engajtom1: #17A85F;
    --engajtom2: #0B8A63;
    --engajtom3: #0D6A64; 
}


section{
    background-color: var(--engajtom1);
    width: 100%;
    text-align: center;
    background: linear-gradient(145deg, rgba(23,168,95,1) 0%, rgba(11,138,99,1) 100%);
}

section#banner h1{
    font-size: 10rem;
    margin: 0rem;
    font-weight: 500;
    color: white;
}

a{
    height: 50rem;
    text-decoration: none;
    color: white;
    border: 0.3rem solid white;
    border-radius: 5rem;
    font-size: 4rem;
    padding: 1rem;
    padding-right: 3rem;
    padding-left: 3rem;
    margin-top: 150rem;
}

div.container{
    height: 813px;
}

div#frase-impacto{
    padding-top: 33rem;  
}
div#banner-cta{
    margin-top: 10rem; 
     
}

a:hover{
    border: 0.3rem solid var(--engajtom1);
    background-color: var(--engajtom1);
}

.row{
    width: 100%;
    padding: 70px;
    background-color: green;
}

.container{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: purple;
    flex-wrap: wrap;
}