
.icon-contact:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-about:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-arrow-right:before { content: '\e804'; } /* '' */
.icon-arrow-left:before { content: '\e805'; } /* '' */
.icon-instagram-alt:before { content: '\e807'; } /* '' */
.icon-engaj:before { content: '\e808'; } /* '' */
.icon-menu:before { content: '\e809'; } /* '' */
.icon-mission:before { content: '\e80a'; } /* '' */
.icon-place:before { content: '\e80b'; } /* '' */
.icon-services:before { content: '\e80d'; } /* '' */
.icon-values:before { content: '\e80e'; } /* '' */
.icon-instagram:before { content: '\e80f'; } /* '' */
.icon-facebook-alt:before { content: '\e810'; } /* '' */
.icon-facebook:before { content: '\e813'; } /* '' */
.icon-engaj-alt:before { content: '\e814'; } /* '' */
.icon-vision:before { content: '\e815'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-mail:before { content: '\f0e0'; } /* '' */