@charset "UTF-8";

/* Fontes */
@font-face {
    font-family: "Neo Sans";
    src:url("../font/neo-sans-pro-light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Neo Sans";
    src:url("../font/neo-sans-pro-medium.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Neo Sans";
    src:url("../font/neo-sans-pro.ttf");
    font-weight: normal;
    font-style: normal;
}

/* Definições gerais */
:root{
    font-size: 10px; /* Usar rem para tamanhos */
    font-family: "Neo Sans", sans-serif;
    font-weight: 300;

    --cor-primaria: #17A85F;
    --cor-secundaria: #0B8A63;
    --cor-clara: #D7D7D7;
}

body{
    margin: 0;
    padding: 0;
}

.botao{
    transition: all 200ms ease-in-out;
    background: none;
    border: 0.2rem solid var(--cor-primaria);
    color: var(--cor-primaria);
    border-radius: 2rem;
    margin: 2rem;
    margin-top: 0;
    padding: 0.7rem;
    font-size: 2rem;
    font-family: "Neo Sans", sans-serif;
    font-weight: normal;
}

.botao:hover{
    transition: all 200ms ease-in-out;
    color: white;
    background: var(--cor-primaria);
}

.botao:focus{
    outline: none;
}

.titulo-secao {
    text-align: center;
    font-weight: 300;
    font-size: 4rem;
    color: var(--cor-secundaria);
}


#interface{
    width: 100%;
}

/* Estilos de cada componente (incluidos antes da produção)*/

/* ======= HEADER ======== */
/* Navbar */
/* Banner */

/* ======= SERVIÇOS ======== */

/* ======= RODAPÉ ======= */

/* ======= ÍCONE DO MESSENGER ======= */