@charset "UTF-8";

/* No desenvolvimento, colocar apenas cores aqui */
:root {
  --cor-primaria: #17A85F;
  --cor-secundaria: #0B8A63;
  --cor-clara: #D7D7D7;
}

#servicos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#slick-servicos {
  max-width: 80%;
  /* height: 100vh; */
}

#slick-servicos .card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
  margin: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 1.2rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#slick-servicos .card .imagem{
  margin-top: 5rem;
  height: 20rem;
  width: 100%;
  overflow: hidden;
  background-repeat:  no-repeat;
  background-size: cover;
  background-position: center;
}

#slick-servicos .card h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
  background: white;
  padding-bottom: 1rem;
  width:100%;
  top: 0;
  left:0;
  text-align: center;
  position: absolute;

  color: var(--cor-secundaria);
}

.call-to-action{
  display: flex;
  width: 100%;
  margin: 0;
}

#slick-servicos .card p {
  display:block;
  min-height: 10rem;
  background: white;
  font-size: 1.6rem;
  padding: 2rem;
}

#slick-servicos .card button {
  width: 20rem;
  height: 4.2rem;
}

.slick-slide:focus {
  outline: none;
}

.slick-dots {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.slick-dots li button {
  margin: 0.5rem;
  width: 2rem;
  height: 2rem;
  border: 2px solid var(--cor-primaria);
  background: white;
  color: white;
  border-radius: 100%;
}

.slick-dots .slick-active button {
  background: var(--cor-primaria);
  color: var(--cor-primaria);
}

.arrow {
  transition: 100ms all ease-in-out;
  color: var(--cor-primaria);
  font-size: 7rem;
}

.arrow:hover {
  transition: 200ms all ease-in-out;
  cursor: pointer;
  color: var(--cor-secundaria);
}

.next:active {
  transform: translateX(20px);
}

.prev:active {
  transform: translateX(-20px);
}



@media screen and (max-width: 900px) {
  .arrow {
    display: none;
  }

  .slick-slider{
    margin: 1rem;
  }

}

@media screen and (max-width: 425px) {

  #slick-servicos .card {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
