@charset "UTF-8";

/* No desenvolvimento, colocar apenas cores aqui */
:root {
    --cor-primaria: #17A85F;
    --cor-secundaria: #0B8A63;
    --cor-clara: #D7D7D7;
}
.test{
}
#sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

#sobre p {
    margin: 0;
    margin-bottom: 2rem;
}

#sobre .conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
}

#sobre .descricao {
    display: block;
    line-height: 1.3;
    width: 80%;
    font-size: 1.8rem;

}

#sobre .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

#sobre .info h1 {
    margin: 0;
    color: var(--cor-secundaria);
    font-size: 3rem;
    /* text-align: center; */
}

#sobre .info p {
    /* text-align: center; */
    padding-top: 1rem;
    width: 100%;
}

#sobre .icon-vision,
#sobre .icon-mission {
    font-size: 4rem;
}

#sobre .valores {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    text-align: center;
}

#sobre .valor {
    /* padding-bottom: 1.5rem; */
}

#sobre .imagem {
    height: 70vh;
    width: 100%;
}



/* Mobile */
@media screen and (min-width: 800px) {
    #sobre .conteudo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 80%;
    }

    #sobre p {
        width: 80%;
    }

    #sobre .info h1 {
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin: 0;
        color: var(--cor-secundaria);
        font-size: 3rem;
        text-align: center;
    }

    #sobre .info {
        width: 24vw;
    }

    #sobre .icon-vision,
    #sobre .icon-mission{
        font-size: 6rem;
    }
    #sobre .icon-values{
        font-size: 6rem;
        margin-right: 1rem;
    }
}