{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <!-- TODO: Colocar mais tags meta -->
  
  <!-- Bloco para inserir tags meta específicas, links e outro elementos do template-->
  {% block CUSTOM_HEAD %}
  {% endblock %}

  <title>{% block TITLE %} {% endblock %}</title>
  <link rel="shortcut icon" href={% static 'img/logos/favicon.ico' %} type="image/x-icon">
</head>

<body>
  {% block CONTENT %} 
  {% endblock %} 
</body>
</html>
