{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PN99GST');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="keywords" content="Ambiental, Engenharia, USP, MEJ, Empresa, Júnior">
    <meta name="description" content="A ENGAJ busca implementar ideias inovadoras e aplicadas à realidade 
    do cliente para possibilitar o progresso sustentável. Esse é o nosso site.">
    <meta name="theme-color" content="#0B8A63">
    <!-- TODO: Colocar mais tags meta -->

    <!-- Bloco para inserir tags meta específicas, links e outro elementos do template-->
    {% block CUSTOM_HEAD %}
    {% endblock %}

    <title>{% block TITLE %} {% endblock %}</title>
    <link rel="shortcut icon" href={% static 'img/logos/favicon.ico' %} type="image/x-icon">
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PN99GST"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% block CONTENT %} 
    {% endblock %} 
  </body>
</html>
