{% extends 'base.html' %}
{% load static %}

{% block CUSTOM_HEAD %}

<!-- Incluir os estilos de cada componente no desenvolvimento,
que serão juntos em um único arquivo antes do deploy -->

<link rel="stylesheet" href={% static 'css/engaj-icons.css' %}>
<link rel="stylesheet" href={% static 'css/main.css' %}>

{% comment %} <link rel="stylesheet" href={% static 'css/servicos.css' %}> {% endcomment %}
<link rel="stylesheet" href={% static 'css/footer.css' %}>

<!--CSS do Slick-->
<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

{% endblock CUSTOM_HEAD %}

{% block TITLE %} Engaj - Home {% endblock TITLE %}

{% block CONTENT %}

<div id="interface">
    <header id="cabecalho">
        <!-- Incluir o template da navbar aqui -->
        <!-- Incluir o template do banner -->
    </header>

    {% include "includes/footer.html" %}

</div>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!--JS do Slick-->
<script type="text/javascript" src="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script src={% static 'js/slick-servicos.js' %}></script>

{% endblock CONTENT %}
